body {
  background: #222;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

canvas {
  background: #000;
  margin-top: 20px;
  border: 2px solid white;
}

#nameBox {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  color: #ffcc00;
}

#messageBox {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 480px;
  padding: 15px 20px;
  background: rgba(0,0,0,0.8);
  color: #fff;
  font-family: sans-serif;
  border-radius: 10px;
  display: none;
  box-shadow: 0 0 10px #000;
  text-align: left;
}

#messageText {
  font-size: 16px;
  line-height: 1.4;
}

#npcImage {
  position: absolute;
  bottom: -300px;
  right: -90px;
  max-height: 1000px;
  display: none;
  image-rendering: pixelated;
}

#messageBox::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px 10px 0 10px;
  border-style: solid;
  border-color: rgba(0,0,0,0.85) transparent transparent transparent;
}